<% if logged_in? %>
	<div class="container-fluid" id="messages">
		
	</div>
	<div class="input-append">
		<form id="postform" action="/messages" method="post">
			<input class="span4" id="postbox" type="text" name="body" value="" />
			<input class="btn btn-inverse" type="Submit" value="Post!">
		</form>
	</div>
<% end %>